.main-nav{
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #F5F5F5;
    gap: 2vw;
}
/* desktop menu */
.nav-menu{
    display: flex;
    gap: 2vw;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-toggle{
    display: none;
    padding: .5em;
    background: #7EE0BB;
    border: none;

}

.nav-burger-menu {
    display: none;
}
.nav-brand{
    
}
/* mobile */
@media (max-width:768px){
    .main-nav {
    position: relative;
    padding: 10px 12px;
    }

    .nav-menu{
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #D9D9D9;
        padding: 8px 12px;
        border-top: 2px solid #A6B001;
    }
    .nav-menu.show {
    display: block;
    }
    .nav-toggle {
        display: block;
    }
    .nav-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    background: #333;
    margin: 5px 0;
    }
}